<!--댓글 생성 뷰-->
<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 작성 폼 -->
        <form>
            <!-- 닉네임 입력 폼 -->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <!-- 댓글 본문 입력 폼 -->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
<!--                <input type="text" class="form-control" id="new-comment-body">-->
                <textarea type="text"
                          class="form-control"
                          id="new-comment-body"
                          rows="3"></textarea>
            </div>
            <!-- hidden input 만들기: 보이지 않아도 값은 가지고 있어야 할 때 -->
            <!-- 댓글: 부모 게시글의 id 가지고 있어야함 -->
            <!-- 댓글: 댓글은 게시글의 종속됨 -->
            {{#article}}
                <input type="hidden"
                       id="new-comment-article-id"
                       value="{{id}}">
            {{/article}}

            <button type="button"
                    class="btn btn-primary"
                    id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>